<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename = 'CSS/Main.css')}}">
    </head>

    <body>
        <div id = "buttonBar" class = "Buttonbar">
        <button class = "Play" onclick="play()">Play</button>
        <h1 id = "Username" class = "Username">username</h1>
        </div>

        <div class = "container">
        <p></p>
        </div>
        
        
    </body>
    <script src = "{{url_for('static', filename = 'JS/Main.js')}}"></script>
</html>